* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  font-family: "Poppins";
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url(images/infowp.png);
  background-size: cover;
  background-repeat: no-repeat;

}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Poppins;
  overflow: auto;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navlinks ul {
  flex-wrap: wrap;
}

.navlinks li {
  list-style: none;
}

.navlinks a {
  display: block;
  color: #be6a15;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 7px 3px;
}

li a:hover{
	color: #ac3f21;
}
.hero-text {
  float:right;
  width: 45%;
  font-weight: bold;
  margin-top: 3%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-right:20px;
  /* margin-left:550px;  */
  box-sizing: border-box;
  background-color: #E77D1F;
  border-radius:10px;
  border-style: inset;
  font-family: Poppins;
  font-size: 15px;
}
#mybtn{
  padding: 0;
  border: none;
  background: none;
  font-size: 150%;
  color:white;
}
#mybtn:hover{
  transform: scale(1.25);
}
#hiddentext{
  float:left;
  width: 45%;
  align-items: right;
  font-weight: bold;
  margin-top: 15%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-left:20px;
  /* margin-left:350px; */
  box-sizing: border-box;
  background-color: #e36d0c;
  border-radius: 10px;
  border-style: inset;
  font-family: Poppins;
  display:none;
}
